// Avatar.less
// Starbucks semantic color adapter for Arco React Avatar.

.arco-avatar {
  color: var(--color-white-text-1);
  font-family: var(--font-family);
  background-color: var(--color-primary);
}

.arco-avatar-text {
  font-weight: var(--fw-medium);
}

.arco-avatar-image-icon {
  color: var(--color-white-text-1);
}

.arco-avatar-trigger-icon-button {
  color: var(--color-primary);
  background-color: var(--color-primary-light);
}

.arco-avatar-with-trigger-icon:hover .arco-avatar-trigger-icon-button {
  color: var(--color-primary-hover);
  background-color: var(--color-primary-focus);
}

.arco-avatar-trigger-icon-mask {
  color: var(--color-white-text-1);
  background-color: rgba(var(--arc-color-primary-6), 0.64);
}

.arco-avatar-group .arco-avatar {
  border-color: var(--bg-color-container);
}

.arco-avatar-group-max-count-avatar {
  color: var(--color-white-text-1);
  background-color: var(--color-primary-active);
}
