// Divider.less
// Starbucks UI Divider overrides

.arco-divider {
  border-color: var(--bg-color-secondarycomponent);
}

.arco-divider-horizontal {
  border-top-color: var(--bg-color-secondarycomponent);
}

.arco-divider-vertical {
  border-left-color: var(--bg-color-secondarycomponent);
}

.arco-divider-text {
  color: var(--color-text-secondary);
  font-family: var(--font-family);
  font-size: var(--fs-14);
}
