.playgroundContainer {
  position: relative;
  margin-bottom: var(--ifm-leading);
  border-radius: var(--ifm-global-radius);
  box-shadow: none;
  overflow: visible;
  border: 1px solid var(--ifm-color-emphasis-300);
}

[data-theme='dark'] .playgroundContainer {
  border-color: var(--ifm-color-emphasis-400);
}
